@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
body{
    background: #ccc;
}

header{
    z-index: 5000;
    top: 0;
    position: fixed;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    border-radius: 0 0 50px 50px;
    background: linear-gradient(rgba(0,0,0,.75), transparent);
    text-shadow: 5px 5px 6px #cccccccc;
}

header a{
    text-decoration: none;
}

button{
    cursor: pointer;
    width: 70px;
    height: 30px;
    border: none;
    background: rgba(0,0,0,.25);
    text-transform: uppercase;
    color: #fff;
}

main{
    margin-top: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.update{
    position: relative;
    text-align: center;
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 275px;
    min-height: 200px;
    filter: drop-shadow(10px 8px 6px #333);
    margin: .75rem .5em;
    padding: 15px 30px;
    border-radius: 5px;
}

footer{
    position: relative;
    bottom: 0;
    text-align: center;
    background: #555;
    margin-top: 5rem;
    padding: .5rem 0;
    color: #ccc;
}

::-webkit-scrollbar{
    background: transparent;
    width: 0px;
}

@media only screen and (max-width: 555px){
    header{
        z-index: 5000;
        top: -45px;
        position: fixed;
        left: 50%;
        transform: translateX(-50%) scale(.6);
    }
    main{
        margin-top: 7.5rem;
    }
}