body {
    font-size: 15pt;
}
#red{
	position: absolute;
	width: 300px;
	height: 300px;
	
	
}
#green{
	position: absolute;
	width: 300px;
	height: 300px;
	visibility: hidden;
}
#button1{
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}
#Reset{
  user-select: none;
  width: 75px;
  height: 50px;
  background-color: darkred;
  color: #ffffff;
}
#Buydog{
  user-select: none;
  width: 180px;
  height: 50px;
  background-color: wheat;
}