body {
    font-size: 15pt;
    user-select: none;
}

#shop{
  position: absolute;
  width: 100%;
  top: 10px;
  text-align: center;
}

#logclick{
  position: absolute;
  width: 100%;
  height: 50px;
  top: 40px;
  left: 50%;
  text-align: center;
  transform: translate(-50%,0);
}
#disclick{
  position: absolute;
  width: 100%;
  height: 25px;
  transform: translate(0%,0);
}

/*BRB*/
#unpressed{
	position: absolute;
	width: 300px;
	height: 300px;
	border-radius: 150px;
}
#pressed{
	position: absolute;
	width: 300px;
	height: 300px;
	visibility: hidden;
	border-radius: 150px;
}
#button{
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  border-radius: 150px;
}

#delete{
  position: absolute;
  user-select: none;
  top: 100%;
  left: 100%;
  transform: translate(-50%,0);
}
#reset{
  position: absolute;
  user-select: none;
  width: 69px;
  height: 50px;
  top: 0%;
  right: 0%;
  transform: translate(0,-100%);
  background-color: #ff0000;
  color: #ffffff;
}